<% provide :title, 'Фильмы' %>
<h1>Фильмы</h1>

<% @locale_groups.each do |locale, movies| %>
  <section class="locale">
    <%= render movies %>
  </section>
<% end %>

<%= link_to 'Добавить фильм', new_movie_path %>
