<% provide :title, "Новый фильм" %>
<h1>Новый фильм</h1>

<section class="videos">
<% @videos.each do |v| %>
  <%= render "video", video: v %>
<% end %>
</section>

<%= link_to "Назад", movies_path %>
