<div id="carousel-vimeo" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-vimeo" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-vimeo" data-slide-to="1"></li>
    <li data-target="#carousel-vimeo" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <a href="http://vimeo.com/76028042" class="fancybox-media">
        <img src="http://b.vimeocdn.com/ts/450/734/450734986_960.jpg" alt="...">
        <div class="carousel-caption">
          <span class="glyphicon glyphicon-play"></span>
        </div>
      </a>
    </div>
    <div class="item">
      <a href="http://vimeo.com/74767537" class="fancybox-media">
        <img src="http://b.vimeocdn.com/ts/449/216/449216533_960.jpg" alt="...">
        <div class="carousel-caption">
          <span class="glyphicon glyphicon-play"></span>
        </div>
      </a>
    </div>
    <div class="item">
      <a href="http://vimeo.com/70320923" class="fancybox-media">
        <img src="http://b.vimeocdn.com/ts/443/497/443497011_960.jpg" alt="...">
        <div class="carousel-caption">
          <span class="glyphicon glyphicon-play"></span>
        </div>
      </a>
    </div>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-vimeo" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-vimeo" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>