- content_for :title, t('.title')
- content_for :meta
  meta name='description' content='Информация о Максиме Маевском и cтудии уникальных историй Sky Memories'

.about-photo
  = cl_image_tag('2011_06_04_15_20_00_eqlrds.jpg', transformation: [{gravity: 'center', width: 2091, crop: 'crop'}, {width: 600, crop: 'scale'}], style: 'width:100%')

h1 Максим Маевский
p можно просто Макс.
p Владелец и основатель студии уникальных историй Sky Memories. Люблю жизнь, а жизнь любит меня. Люблю наблюдать за жизнью, не люблю много думать. Люблю создавать свой продукт, не люблю бездействие и пустословие. Люблю быть спокойным и уверенным и обожаю чувство удовлетворенности от прожитого дня.
p В 1999 году первый раз взял в руки профессиональную видеокамеру. Огромное спасибо ИТА «Губерния» за бесценный опыт освоения профессии. С тех пор каждый раз, когда начинаю снимать, я перестаю замечать, как проходят часы, а иногда дни съёмок. По другому можно сказать, что с тех пор я больше не работаю, а занимаюсь любимым делом.
p В 2003 году основал студию по производству фильмов. За 13 лет мы сделали более 1000 фильмов и клипов, большая часть из которых принадлежит семейной тематике.
h2 О студии
p В названии Sky Memeories есть два слова. Первое <i>sky</i> переводится как <i>небо</i> и второе <i>memories</i> переводится как <i>воспоминания</i>. Можно смело соединить два слова и назвать студию <i>небесными воспоминаниями</i> или <i>студия воспоминаний с небес</i>. В названии можно заметить главную идею наших фильмов.
h2 Основная идея
p Небо — это место откуда к нам приходит свет, тепло. Согреваясь мы радуемся, благодаря теплу мы счастливы. Так можно сказать и о наших фильмах. Их можно сравнить с солнечным светом, согревающим землю или можно сказать, что наши фильмы согревают сердца их обладателей. Еще можно сказать, что мы создаем воспоминания, которые помогают «осветить жизнь», а значит помогают сделать жизнь красивее, ярче и счастливее.
h2 О семье
p С детства мечтал о своих детях, правда тогда мне представлялось, что женщина лишняя. Позже осознал, что без женщины не получится. Начал искать ее. Искал долго и с переменным успехом. Потом найдя осознал, что мало найти надо еще чтобы были друг другу друзьями и помощниками, и чтобы по сердцу, поскольку семейная жизнь представляется мне совместным тур походом, где цели совместные и взгляды похожие, иначе не видать семейного счастья. А ведь семья — это опыт проживания счастья. В этом я смог убедиться наблюдая за жизнью десятков своих заказчиков. А позже и сам убедился в этом на собственном опыте.
h2 Зачем вам нужен <i>фильм</i>
p Наши фильмы мне нравится сравнивать с картинами или портретами, или живописью. В фильмах можно увидеть и почувствовать жизнь свою и своих близких. Эти картины радуют и веселят, удивляют и волнуют за самое живое и родное, что есть у нас. Мне искренне хочется, чтобы все мы были счастливыми. И в подтверждение этих слов привожу в пример некоторые изречения моих любимых заказчиков, которые ответили на вопрос: Зачем вам нужен наш продукт?
h3 Татьяна и Сергей Давыдовы о фильме, сделанном ко дню рождения дочери
p Ты смотришь на видео и понимаешь какая мы счастливая семья, в жизни ты живешь и иногда этого не замечаешь. Макс в этом смысле талант, он может увидеть это и показать нам. Акушер измеряет «счастье» в килограммах, а Макс измерил наше счастье в минутах. Спасибо ему большое за наш маленький фильм о Любви.
h3 Сергей и Ольга Руденко о фильме об Ульяне (от нуля до года)
p Сергей: Самое ценное это возможность уловить момент, который никогда не вернется. В период от рождения до года, мы испытываем самый сильный родительский стрес, случаются истерики. Мы постоянно адаптируемся к новым условиям и все что происходит вокруг, по большому счету, пролетает мимо нас. Фильм помог восстановить жизнь из того периода и помог осознать, что не все так было истерично и трагично, как рисовалось у меня в голове. С тех пор как у нас появился этот фильм, мы собираемся вместе и смотрим кино про Улю, это супер ценно для нас, по другому не скажешь.
p Ольга: Я хочу, чтобы моя дочь смогла увидеть, какие взаимоотношения были в нашей семье, в период, который она не помнит, чтобы она могла брать пример, как мама относится к папе и наоборот. Мне кажется, что Ульяна по достоинству оценит фильм когда выростет, хотя она и сейчас с удовольствием его смотрит.
h3 Зарина Пятанова о свадебном клипе
p Клип получился таким, как надо нам, мы его пересматриваем со всеми родными и близкими и будем пересматривать его еще много раз, потому что клип не такой как остальные, он несет в себе живые эмоции.
h3 Дмитрий и Настя Положаевы о семейном фильме
p Дима: Так качественно рассказать о тебе о твоей семье и увидеть сущность семьи не сможет никто другой. Спасибо, Макс, тебе огромное за твою работу, за то что ты вложил душу в наш фильм.
p Настя: Просмотр нашего семейного фильма у меня вызвал бурю эмоций и волнение (это когда я рассказываю, как мы познакомились), и радость (кадры со свадьбы), и предвкушение (какой кадр нашей семейной жизни будет следующим), и умиление (когда доченьки в кадре), и ожидание (чего-то светлого, хорошего в жизни). Так бы и смотрела кино про нас. После просмотра фильма я лично увидела себя и своих близких со стороны, сделала выводы как себя вести по отношению к мужу и детям, где есть брешь в воспитании дочек, а где и я и Дима и девочки были молодцы! Так что полезно вот так раз в 10 лет посмотреть на себя со стороны. Огромное спасибо за профессиональную работу и за тонко уловленные характеры каждого члена нашей семьи. Всегда приятно, когда люди не просто делают свою работу, а вкладывают в это частичку себя. Конечно, лично мне хотелось бы еще лет через 5, снять еще фильм про нас, как мы изменимся и сравнить с этим фильмом.
h3 Владимир Сидоренко о семейном фильме
p Я очень доволен этим фильмом, Макс подошел к вопросу невероятно профессионально. Он вложил на изготовление этого фильма огромное количество времени и сил. И что самое главное, получился сногсшибательный продукт. Поэтому если кто-то из вас хочет сделать что-то красивое, трогательное, по настоящему доброе и хорошее о своей семье, чтобы этот фильм смотрели ваши близкие, родные, друзья, чтобы это осталось вашим детям, внукам — я вам очень советую обратится в студию уникальных историй. Я ничего подобного нигде и никогда не видел.
h3 Елена Самохина о фильмах
p Наше знакомство состоялось 6 лет назад. Это была симпатия с первого взгляда и любовь с первого фильма. Макс — человек , который чувствует героев каждой истории, видит каждую эмоцию, всё понимает, всё знает, умеет так выигрышно показать абсолютно не выигрышные моменты, за которые переживаешь и испытываешь стеснение, а самое главное - ОН любит то, что делает!
p Сказать спасибо за всё — слишком мало!
p В фильмотеке нашей семьи 7 фильмов, сделанных студией Sky Memories и ещё 2 на подходе, и ещё огромное количество впереди. И каждый из них, это ни с чем не сравнимые эмоции. Это ни с чем не сравнимая память.
p Зачем нужен такой фильм? Чтобы пересмотреть его через 10, 30, 50, 100, 200 лет. Снова пережить, увидеть, услышать, понять, узнать , восхититься и пережить ещё огромное и невероятное количество эмоций, и даже передать эти эмоции своим детям, внукам, правнукам.
p Я бы сейчас хотела посмотреть фильм о своих дедушках и бабушках, их уже нет в живых. Я бы хотела увидеть себя маленькой и моих родителей ещё совсем молодыми. Не на фото, а вот так кусочек из нашей жизни, которую я не помню.
p Мы в повседневной жизни очень много упускаем, не говорим, бежим, оставляем на потом. А такой фильм, как я говорю «с душой» (потому что человек, делающий для Вас фильм вкладывает частичку своей души, и это поверьте неотъемлемая часть вашей истории; я видела бездушные фильмы), он нам даёт возможность остановиться, снова пережить, почувствовать, сказать, взять крепко за руку, рассмеяться и даже заплакать. И это очень ценно, очень важно.
p У нас появилась традиция смотреть такие фильмы. Чем больше их появляется, тем чаще у нас есть возможность остановиться и почувствовать или сказать друг другу нечто очень важное.
