<% provide :title, t(".title") %>

<% content_for :banner do %>
  <p class="lead"><i>Кто мы</i></p>
<% end %>

<h1><%= yield :title %></h1>
<p>
  Мы – команда, влюбленная в синематограф.<br />
  Мы дарим радость людям через наши фильмы.<br />
  Мы верим, что наше творчество меняет нас и этот мир к лучшему.<br />
  Мы хотим отражать все, что видим ясно, искренне и правдиво.<br />
  Мы видим красоту во всем, к чему прикасаемся, с чем взаимодействуем.<br />
  Мы любим себя и все, что мы делаем и хотим – чтобы все, кто работает вместе с нами, были счастливы.
</p>
<h2>Кто мы</h2>
<p>
  <strong>Макс Маевский</strong>
  Владелец студии. Человек влюбленный в свою работу ...
</p>
<p>
  <strong>Алексей Коваленко</strong>
  Оператор от бога.
</p>
<p>
  <strong>Анна Зяблицкая</strong>
  Видеомонтажер и счастливая мать.
</p>
<h2>Ищем таланты</h2>
<p>Хотите дарить людям радость и ... , умеете монтировать фильмы и вас не пугают современные методы удаленной работы. Тогда мы ждем вас в своих рядах.</p>
<p><%= link_to "Напишите нам прямо сейчас", contact_path, class: "btn btn-primary" %></p>

