<% provide :title, "О студии" %>
<h1><%= yield :title %></h1>
<p>Мы – команда, влюбленная в синематограф.</p>
<p>Мы дарим радость людям через наши фильмы.</p>
<p>Мы верим, что наше творчество меняет нас и этот мир к лучшему.</p>
<p>Мы хотим отражать все, что видим ясно, искренне и правдиво.</p>
<p>Мы видим красоту во всем, к чему прикасаемся, с чем взаимодействуем.</p>
<p>Мы любим себя и все, что мы делаем и хотим – чтобы все, кто работает вместе с нами, были счастливы.</p>

