<% provide :title, "Статьи" %>
<h1>Статьи</h1>

<% if !@posts.empty? %>

  <section>
    <%= render @posts %>
  </section>

  <%= will_paginate %>

<% end %>

<%= link_to 'Добавить статью', new_post_path %>
