- content_for :title, t(".title")
- content_for :meta
  meta name='description' content='Блог cтудии уникальных историй Максима Маевского Sky Memories'


h1 Информация
h2 Как мы работаем
p Принцип отражения является главным принципом в нашем творчестве. Это значит, что в каждом фильме мы отражаем всё что чувствуем и видим максимально четко и без искажений. Мы относимся к своей работе, как к уникальной возможности выразить свою любовь к людям. Мы верим, что наше творчество поможет будущему поколению создать свои счастливые семьи.
h2 Зачем нужен семейный фильм
p Любому ребенку, который захочет в будущем создать свою семью, важно иметь папу и маму, которые его любят. Семейный фильм позволяет создать образ душевного тепла и гармоничных взаимоотношений. Его также можно назвать портретом в котором будут просматриваться характеры близких и родных, через которые будущие отроки увидят самих себя и почувствуют свою сопричастность и нужность своей семьи.
h2 Что получит заказчик
p Заказчик получит комплексную услугу по сохранению семейной памяти. От съемки и создания фильмов и клипов, до хранения семейного видео на неограниченный срок.
p И наконец наш замечательный заказчик приобретёт близких друзей в нашем лице. С огромной радостью и удовольствием мы помогаем нашим заказчикам поддерживать их семейные традиции для счастья и радости в помощь будущим поколениям.
