// --------------------------------------------------------------------------
// Main colors
// --------------------------------------------------------------------------

// $deep-blue-color:         #007cc2;
$body-background: rgba(247, 247, 247, 1);

// --------------------------------------------------------------------------
// Typography
// --------------------------------------------------------------------------

$main-color:       #484848;
$main-font-family: /*'Neue Helvetica', */'Open Sans', sans-serif;
$main-font-size:   16px;
$main-line-height: $main-font-size * 1.5;

$header-color:     #127cc2;
$hilight-color:    #ee306f;

// --------------------------------------------------------------------------
// Layout
// --------------------------------------------------------------------------

$section-padding:          $main-line-height;
