// --------------------------------------------------------------------------
// Typography
// --------------------------------------------------------------------------
$main-color:       #5f5f5f;
$main-font-family: verdana, arial, helvetica, sans-serif;
$main-font-size:   16px;
$main-line-height: $main-font-size * 1.5;

// --------------------------------------------------------------------------
// Grid
// --------------------------------------------------------------------------
$normal-width: 960px;
