@import "constants"

#page-banner
  h1
    font-weight: inherit
    margin-top: 0.8em
    margin-bottom: 0.8em
    font-size: 2.2em
  .lead
    font-size: 1.1em
    margin-bottom: 3em
    // padding-bottom: 

#vimeo
  padding-bottom: 1em
  h1
    color: $header-color
    font-size: 1.6em
    margin-top: 1em
    margin-bottom: 0.8em

.quote
  width: 1em
  height: 1em
  border-radius: 50%
  background-color: white
  font-family: serif
  font-weight: bold
  font-size: 5em
  margin: 0 auto
  span
    vertical-align: text-bottom

@media (max-width: 767px)
  .quote
    margin-bottom: 0.3em

#testimonials
  margin-bottom: 2em
  ul
    list-style: none
    padding-left: 0
  h1
    color: $hilight-color
    font-size: 1em
    &:first-child
      margin-top: 0
  p
    font-size: 0.8em
    line-height: initial


#movie-list
  margin-top: 3em

.vimeo
  margin-bottom: 3em
  cursor: pointer
  img
    -webkit-transition: -webkit-transform 0.1s
    transition: -webkit-transform 0.1s
  &:hover img
    -webkit-transform: scale(1.01)
    transform: scale(1.01)
  img
    display: block
    height: auto
    max-width: 100%
  h1
    color: $header-color
    font-size: 1.1em
    line-height: 1.5
  p
    font-size: 0.8em
    line-height: 1.5
