@import "constants";

#home-header {
  background: image-url('wedding.jpg');
  padding-bottom: $section-padding;
}

#home-banner {
  padding-top: $section-padding;
}

#call-to-action {
  background-color: rgba(255,255,255,.5);
  padding: $section-padding;
}

#home-services {
  padding: $section-padding 0;
}

#home-courses {
  padding: $section-padding 0;
}

#home-contacts {
  padding: $section-padding 0;
}
