@import 'constants';

body {
  background: image-url('paper.png') repeat #f1f1f1;
  color: $main-color;
  font-family: $main-font-family;
  font-size: $main-font-size;
  line-height: $main-line-height;
}

.container {
  margin: 0 auto;
  width: $normal-width;
}
