@import 'constants'

body
  background: image_url('giftly.png')
  background-color: $body-background

strong
  font-weight: 400

hr
  height: 2px
  background: transparent
  border: 1px solid rgba(224, 224, 224, 1)

#page-header
  // padding-bottom: 3em
  #logo
    margin-top: 30px
    background-image: image_url('logo.png')
    background-size: 275px 59px
    height: 59px
    width: 275px
    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)
      background-image: image_url('logo@2x.png')
  ul
    margin-top: 39px
    list-style-type: none
    padding: 0
    li
      font-size: 0.7em
      text-transform: uppercase
      display: inline-block
      padding: 10px 18px
      a
        color: $header-color
        &:visited
          color: $header-color
        &.contact
          color: $hilight-color !important

  hr
    margin-top: 30px

#page-banner
  //

footer#page-footer
  margin-bottom: 3em
  font-size: 0.8em
  hr
    margin-bottom: 3em
