@import 'constants';

body {
//  background: image-url('paper.png') repeat $body-background;
  background-color: $body-background;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#page-header {
//  background: image-url('sky.jpg');
  background-color: $light-blue-color;
  padding-bottom: $section-padding;
}

#page-banner {
  padding-top: $section-padding;
  .lead {
    margin-bottom: 0;
  }
}

#page-footer {
  padding: $section-padding 0 2*$section-padding;
}

main {
  padding-top: $section-padding;
  padding-bottom: $section-padding;
  background-color: $bluish-white-color;
}

// debug =======================================

$grayMediumLight: #eaeaea;

.debug_dump {
  margin-top: 45px;
  background-color: $grayMediumLight;
  border-radius: 10px;
  padding: 10px;
  font-size: 0.8em;
  line-height: 1.3em;
  border: solid gray 1px;
}