@import "constants";

@mixin gray-box {
  background-color: #eee;
  border: solid 1px lightgray;
}

.locale {
  @include gray-box;
  margin-bottom: 10px;
  &:last-child {
    margin-bottom: 0;
  }
  header {
    background-color: lightgray;
    margin: 0;
    padding: 10px;
    font-size: 1.5em;
    a {
      font-size: .6em;
    }
  }
}

.movies {
  padding: 20px 20px 0 20px;
  list-style-type: none;
  margin: 0;
}

.movie {
  min-height: 75px;
  margin-bottom: 20px;
  h1 {
    font-size: 1em;
    line-height: 1;
    font-weight: 500;
  }
  h1, p {
    margin-top: 0;
    margin-bottom: 10px;
  }
  img {
    float: left;
    margin: 0 10px 10px 0;
  }
  .controls {
    float: right;
  }
}

#videos {
  @include gray-box;
  list-style: none;
  padding: 0 0 10px 10px;
  margin-top: 10px;
  li {
    background-color: white;
    padding: 0 5px;
    margin: 10px 10px 0 0;
    float: left;
  }
}
