@import "bourbon";

@mixin gray-box {
  background-color: #eee;
  border: solid 1px lightgray;
}

.locale {
  @include gray-box;
  padding: 10px;
  margin-bottom: 10px;
  &:last-child {
    margin-bottom: 0;
  }
}

.movie {
  .movie-main {
    
  }
}

.videos {
  @include gray-box;
  @include clearfix;
  padding: 10px 0 0 10px;
  .video {
    background-color: white;
    padding: 10px 10px 5px 10px;
    margin: 0 10px 10px 0;
    float: left;
    figcaption {
      margin: 0;
    }
  }
}