@import "bourbon";
@import "constants";

@mixin gray-box {
  background-color: #eee;
  border: solid 1px lightgray;
}

.locale {
  @include gray-box;
  @include clearfix;
  margin-bottom: 10px;
  &:last-child {
    margin-bottom: 0;
  }
  header {
    font-family: $header-font-family;
    background-color: lightgray;
    margin: 0;
    padding: 10px;
    font-size: 1.5em;
    a {
      font-family: $main-font-family;
      font-size: .6em;
    }
  }
}

.movies {
  padding: 10px;
  list-style-type: none;
  margin: 0;
}

.movie {
  margin-bottom: 20px;
  p {
    margin-top: 0;
    margin-bottom: 10px;
  }
  img {
    float: left;
    padding-right: 10px;
  }
  .edit_movie, .main-form {
    display: inline-block;
  }
  &.movie-main {
    float: left;
    padding-right: 10px;
    margin-right: 10px;
    border-right: 1px solid lightgray;
    img {
      padding: 0;
    }
    .edit_movie {
      display: block;
    }
  }
}

#videos {
  @include gray-box;
  @include clearfix;
  list-style: none;
  padding: 0 0 10px 10px;
  margin-top: 10px;
  li {
    background-color: white;
    padding: 0 5px;
    margin: 10px 10px 0 0;
    float: left;
  }
}
