@import 'constants';

body {
  color: $main-color;
  font-family: $main-font-family;
  font-size: $main-font-size;
  line-height: $main-line-height;
}

h1, h2, h3, th {
  color: $deep-blue-color;
  font-family: $header-font-family;
}

.small {
  font-size: 0.75em;
  line-height: 1.5em;
}