<% flash.each do |name, msg| %>
  <div class="alert <%= flash_decode name %> fade in">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <%= msg %>
  </div>
<% end %>