<header id="page_header" role="banner">
  <div class="container">
    <nav id="utility">
      <p>
        You are logged in as <strong>Funny Bunny</strong>
        <%= link_to "[YourAccount]", "#" %> |
        <%= link_to "[Logout]", "#" %>
      </p>
    </nav>
    <a id="logo" href="/" title="Home">
      <% image_tag("logo.png", alt: "SkyMemories") %>
      <div id="brand_name">SKY MEMORIES</div>
      <div id="tag_line">СТУДИЯ СЕМЕЙНОГО КИНО</div>
    </a>
  </div>
</header>